html,
body {
    height: 100%;
}

body {
    background-color: $beige;
    color: $dark-brown;
    font-family: "Trebuchet MS", sans-serif;

    a {
        text-decoration: none;
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10% 10px 10%;
    min-width: 100vh;
    min-height: 85vh;

    button {
        cursor: pointer;
        background-color: $pink;
        color: $beige;
        font-weight: 600;
        height: 35px;
        border-radius: 10px;
        border: transparent;
        padding: 0px 15px;

        &:hover {
            background-color: $dark-pink;
            transform: translateY(3px);
            cursor: pointer;
        }
    }
}

* {
    outline: none;
}