.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        &:hover {
            transform: translateY(3px);
        }

        span {
            margin-right: 10px;
            font-size: 20px;
        }
    }

    .social-login--github {
        margin-top: 20px;
        background-color: $green;

        &:hover {
            background-color: $dark-green;
        }
    }

    .social-login--facebook {
        background-color: $blue;

        &:hover {
            background-color: $dark-blue;
        }
    }
}