.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 30%;
        padding: 5px 0px;
        border-radius: 10px;
        border: transparent;
        margin-bottom: 15px;
        color: $beige;
        font-weight: 600;
        height: 35px;

        &:hover {
            transform: translateY(3px);
        }

        &:focus {
            outline: none;
        }

        span {
            margin-right: 10px;
            font-size: 20px;
        }
    }

    .social-login--github {
        margin-top: 20px;
        background-color: $green;

        &:hover {
            background-color: $dark-green;
        }
    }

    .social-login--facebook {
        background-color: $blue;

        &:hover {
            background-color: $dark-blue;
        }
    }
}