// Main colors 
$pink: #dec3c3;
$dark-pink: #c39292;
$beige: #f9f4f4;
$dark-beige: #f0e4e4;
$dark-brown: #dec3c3;

// Colors for github, facebook buttons
$green: #c3ded1;
$dark-green: #a2cca2;
$blue: #c3d1de;
$dark-blue: #a2a2cc;