.header {
    background-color: $pink;
    margin-bottom: 50px;
    width: 100%;

    .header_wrapper {
        margin: 0;
        display: flex;
        align-items: center;
        text-align: center;

        .header__column {
            width: 100%;

            i {
                font-size: 50px;
                color: white;
            }

            &:nth-child(2) {
                input {
                    width: 80%;
                    padding: 5px;
                    border-radius: 10px;
                    border: transparent;
                    color: $dark-pink;

                    &::placeholder {
                        color: $dark-pink;
                    }
                }
            }

            ul {
                display: flex;
                font-weight: 600;
                text-transform: uppercase;
                justify-content: center;

                li {
                    a {
                        text-decoration: none;
                        margin: 0px 15px;
                        color: white;

                        &:hover {
                            color: $dark-pink;
                        }
                    }
                }
            }
        }
    }
}