.user-profile {
  .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile__avatar {
      height: 200px;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    .profile__username {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .profile__useremail {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .user-profile__btns {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;

    a {
      margin-bottom: 10px;
    }
  }

  .video-list{
    margin: 29px 50px;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-gap: 10px;
    
    .videoBlock{
      margin: 0px 10px;
      
      .videoBlock__title{
        margin-left: 10px;
        font-size:10px;
      }
      .videoBlock__views{
        margin-left: 10px;
        font-size:5px
      }
    }
  }
}
