.video-detail__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .video__info {
        margin-top: 15px;
        width: 40%;
        min-width: 500px;

        a {
            color: $dark-blue;

        }

        .video__title {
            font-size: 30px;
            font-weight: 600;
        }

        .video__title,
        .video__view,
        .video__description {
            margin-bottom: 15px;
            overflow-wrap: break-word;
        }
    }

    .video__comments {
        width: 40%;
        min-width: 500px;
    }
}